* {
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    height: 80px;
}

#header-img {
    width: 350px;
}

#nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

.nav-link {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}