:root {
    --yellow-color: #f1c40f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

#header {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    height: 80px;
    margin-bottom: 20px;
    padding: 20px 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#header-img {
    width: 350px;
}

#nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

.nav-link {
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

section.presentation-form {
    text-align: center;
    margin-bottom: 30px;
}

.main-description {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
}

#email {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
    line-height: 25px;
    padding-left: 5px;
}

#submit {
    text-transform: uppercase;
    width: 100%;
    max-width: 150px;
    height: 30px;
    font-weight: 800;
    background-color: var(--yellow-color);
    transition: background-color 200ms ease-out 0s;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: blue;
    color: white;
}

.perks-wrap {
    padding: 30px 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    margin-bottom: 30px;
}

.perk-images {
    width: 50px;
    height: 50px;
    display: flex;
    margin-right: 50px;
}

.feature-h2 {
    font-size: 24px;
}

.feature-p {
    font-size: 18px;
    font-weight: 500;
}

.feature-wrap {
    display: flex;
    margin-bottom: 20px;
}

.video-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.video-wrap > iframe {
    max-width: 560px;
    width: 100%;
}

.price-table-wrap {
    display: flex;
    justify-content: center;
    text-align: center;
}

.plan {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 10px;
    width: 20%;
    align-items: center;
    border-radius: 3px;
}

.plan > h2 {
    width: 100%;
    font-size: 18px;
    background-color: lightgrey;
    line-height: 50px;
    text-transform: uppercase;
}

.price {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plan > .features {
    margin-bottom: 10px;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    width: 35%;
    height: 30px;
    background-color: var(--yellow-color);
    border: none;
    cursor: pointer;
}

@media (max-width: 890px)
{
    #header {
        display: block;
        position: static;
        padding: 0;
        margin-bottom: 60px;
    }

    .img-wrap {
        display: flex;
        justify-content: center;
    }

    #nav-bar {
        display: block;
    }

    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        float: none;
        background-color: beige;
        font-size: 18px;
        line-height: 30px;
    }

    .perk-images {
        display: none;
    }

    .feature-h2 {
        display: flex;
        justify-content: center;
    }

    .feature-p {
        text-align: center;
    }

    .price-table-wrap {
        display: block;
    }

    .plan {
        width: 50vw;
        margin: auto;
        margin-bottom: 20px;
    }
}